---
permalink: /.well-known/site.standard.publication
layout: false
eleventyExcludeFromCollections: true
gateAtproto: true
eleventyAllowMissingExtension: true
---
at://{{ atproto.did }}/{{ atproto.publicationCollection }}/{{ atproto.publicationRkey }}
